#game-admin-category {
	.category-box {
		&+.category-box {
			margin-top: 20px;
		}
		.category-title {
			background: whitesmoke;
			padding: 10px;
			border: 1px solid #ddd;
			line-height: 32px;
			font-weight: bold;
		}
		.category-body {
			border: 1px solid #ddd;
			border-top: none;
			padding: 10px;
		}
		.addon {
			padding: 0 10px;
			border: 1px solid #ccc;
			border-right: none;
			background: #F5F5F5;
			font-size: 14px;
			line-height: 39px;
		}
		.addon-input {
			padding: 0 10px;
			line-height: 15px;
			height: 41px;
		}
	}
	// 分类满了红色标识
	.red {
		color: #FD7E7E;
		font-weight: bold;
	}
	// 标题上按钮设置高度
	.title-btn {
		height: 41px;
		font-weight: bold;
	}
}