#user-account-recharge {
	/* 两列右侧自适应布局 */
	.g-bd1 {
		margin: 0 0 20px;
	}
	.g-sd1 {
		position: relative;
		float: left;
		width: 90px;
		margin-right: -90px;
	}
	.g-mn1 {
		float: right;
		width: 100%;
	}
	.g-mn1c {
		margin-left: 100px;
	}
	.money {
		font-size: 25px;
		color: #FF7A00;
		font-weight: bold;
		margin: 0 5px;
	}
}