#user-account-message {
	.box {
		border: 1px solid #ddd;
		border-radius: 3px;
		&+.box {
			margin-top: 20px;
		}
		.head {
			background: #F5F5F5;
			padding: 10px;
			border-bottom: 1px solid #ddd;
		}
		.body {
			padding: 10px;
		}
		.img {
			width: 30px;
			height: 30px;
		}
	}
}