#index {
	//背景盒
	.img-box {
		height: 400px;
		overflow: hidden;
		//大背景
		.img {
			background: url(/static/img/index/bg.png);
			height: 400px;
		}
		.head {
			color: white;
			text-shadow: 0px -2px 0px #222;
		}
		.bottom {
			color: #ddd;
			text-shadow: 0px -1px 0px #333;
		}
		.submit {
			padding: 20px 100px;
			font-size: 20px;
		}
	}
	//游戏api区域
	.top-left {
		border-right: 1px solid #ccc;
		padding: 20px 20px 20px 0;
		border-top: 1px solid white;
		height: 300px;
	}
	.top-right {
		border-left: 1px solid white;
		padding: 20px 0 20px 20px;
		border-top: 1px solid white;
		height: 300px;
	}
	//介绍栏
	.introduce {
		color: #999;
		text-shadow: -1px -1px 1px white;
		padding: 20px;
	}
	//游戏盒子
	.game-content {
		height: 111px;
		overflow: hidden;
		.box {
			padding: 20px 10px 10px 10px;
			&:hover {
				background: whitesmoke;
			}
		}
		.box img {
			width: 60px;
			height: 60px;
			border-radius: 5px;
		}
		a {
			color: #333;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			margin: 5px 0;
		}
		.box .title {
			font-size: 14px;
		}
		img.hot {
			position: absolute;
			width: 40px;
			height: 40px;
			top: 17px;
			right: 6px;
		}
	}
	//博客
	.muted-line {
		height: 0px;
		border-top: 1px solid #ccc;
	}
	.blog {
		border-bottom: 1px solid #ccc;
	}
	.blog .box {
		border-top: 1px solid white;
		border-bottom: 1px solid #ccc;
		text-align: center;
		line-height: 40px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		color: #666;
		border-top: none;
		border-bottom: none;
		border-right: none;
	}
	.blog .box.title {
		border-top: 1px solid #ccc;
		border-right: white;
		font-weight: bold;
	}
	.blog .box:not(.title):hover {
		text-decoration: none;
		background: whitesmoke;
	}
	//下方整体
	.index-bottom-bg {
		background: white;
	}
	//右侧游戏小图标
	.smallImg {
		width: 25px;
		height: 25px;
		margin-top: 4px;
		float: left;
		margin-right: 7px;
	}
	//功能box
	.func-box {
		border: 1px solid #bbb;
		line-height: 200px;
		text-align: center;
		width: 200px;
		display: inline-block;
		background: whitesmoke;
		font-size: 18px;
		font-weight: bold;
		margin: 0 10px;
		color: #333;
	}
	.func-box:hover {
		text-decoration: none;
		background: #eee;
	}
	.category {
		color: white;
	}
	.large-input {
		height: 40px;
		line-height: 40px;
		font-size: 20px;
		width: 100%;
	}
	.large-btn {
		height: 50px;
		width: 100%;
		font-size: 20px;
	}
}