#user-base {
	/* 主体右侧自适应布局 */
	.g-bd1 {
		margin: 0 0 10px;
	}
	.g-sd1 {
		position: relative;
		float: left;
		width: 190px;
		margin-right: -190px;
	}
	.g-mn1 {
		float: right;
		width: 100%;
	}
	.g-mn1c {
		margin-left: 200px;
	}
	.g-lf {
		position: fixed;
		left: 0;
		top: 124px;
		height: 100%;
		width: 200px;
		float: left;
		margin-right: -190px;
		background: whitesmoke;
		border-right: 1px solid #ccc;
		overflow-y: auto;
	}
	.g-rt {
		margin-left: 200px;
		background: white;
	}
	body {
		background: white;
	}
	
	/* 左侧菜单 */
	.j-head {
		padding: 10px;
		background: whitesmoke;
		color: #333;
		cursor: pointer;
		cursor: hand;
		border-bottom: 1px solid #ccc;
		font-size: 14px;
	}
	.j-body {
		background: white;
	}
	.j-body a {
		display: block;
		color: #333;
		padding: 10px 15px;
	}
	.j-body a.active {
		background: #FFFFDA;
		padding-left: 10px;
		border-left: 5px solid #FDC204;
	}
	.j-body a:hover {
		text-decoration: none;
		background: #FFFFDA;
	}
	.j-body a {
		border-bottom: 1px dashed #ddd;
	}
	.j-body a:last-child {
		border-bottom: 1px solid #ccc;
	}
	
	/* 左侧菜单结构 */
	.menu-left {
		width: 20px;
		text-align: center;
		margin-right: 5px;
		float: left;
		font-size: 14px;
	}
	.menu-right {
		float: left;
		font-size: 14px;
	}
	
	/* 头部菜单 */
	.j-slide {
	}
	.bar_content {
		height: 34px;
		padding: 0px 10px !important;
	}
	#j-topbar td {
		padding: 0;
	}
	
	/* 右上角定位 */
	.right-top {
		position: absolute;
		right: 20px;
		top: -62px;
	}
	
	/* 搜索框样式 */
	.native-search {
		width: 300px;
	}
	.autocomplete-suggestions {
		background: white;
		border: 1px solid #ccc;
		border-top: none;
		cursor: pointer;
		cursor: hand;
	}
	.autocomplete-suggestion {
		padding: 7px 10px;
	}
	.autocomplete-suggestion:hover {
		background: whitesmoke;
	}
	
	/* 头部按钮样式 */
	.native-button {
		height: 37px;
	}
	
	/* 编辑框样式 */
	.wmd-input {
		min-height: 400px;
		width: 100%;
	}
	.wmd-preview {
		margin-top: 35px;
	}
	.wmd-button-row {
		position: relative;
		margin: 5px;
		padding: 0px;
		height: 24px;
	}
	.wmd-spacer {
		width: 1px;
		height: 24px;
		margin-right: 10px;
		background-color: Silver;
		display: inline-block;
		list-style: none;
	}
	.wmd-button {
		width: 24px;
		height: 24px;
		padding-left: 2px;
		padding-right: 3px;
		display: inline-block;
		list-style: none;
		cursor: pointer;
	}
	.wmd-button {
		background-image: url(/static/img/editor.png);
		background-repeat: no-repeat;
		background-position: 0px 0px;
		display: inline-block;
		margin-right: 10px;
	}
	.wmd-spacer1 {
		left: 50px;
	}
	.wmd-spacer2 {
		left: 175px;
	}
	.wmd-spacer3 {
		left: 300px;
	}
	.wmd-prompt-dialog {
		border: 1px solid #999999;
		background-color: #F5F5F5;
	}
	.wmd-prompt-dialog > div {
		font-size: 0.8em;
		font-family: arial, helvetica, sans-serif;
	}
	.wmd-prompt-dialog > form > input[type="text"] {
		border: 1px solid #999999;
		color: black;
	}
	.wmd-prompt-dialog > form > input[type="button"] {
		border: 1px solid #888888;
		font-family: trebuchet MS, helvetica, sans-serif;
		font-size: 0.8em;
		font-weight: bold;
	}
	
	/* 编辑框预览样式 */
	#preview {
		padding: 10px;
		display: none;
		border: 1px solid #f1f1f1;
		min-height: 60px;
	}
	.prev {
		position: absolute;
		right: 10px;
		top: 0px;
		line-height: 34px;
		z-index: 3;
		font-size: 14px;
		color: #555;
	}
	.prev input {
		vertical-align: middle;
		margin-top: -2px;
		margin-bottom: 1px;
	}
	.preHide {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 34px;
		background: white;
		opacity: 0.7;
		left: 0;
		top: 0;
		display: none;
	}
	
	/* 表格样式 */
	.table > tbody > tr > td {
		padding: 10px;
	}
	.table > thead > tr > td {
		padding: 10px;
	}
	.contents {
		overflow: hidden;
		position: relative;
	}
	.contents table {
		white-space: nowrap;
	}
	.contents table tbody tr.disabled {
		background: whitesmoke;
		color: #ccc;
	}
	.contents table tbody tr.disabled {
		background: #eee;
	}
	.j-pa {
		border: 1px solid #ddd;
	}
	
	/* 选择框 */
	.select-td {
		padding: 0 !important;
	}
	.td-select {
		padding: 13px 5px;
		width: 100%;
		border: none;
	}
	
	/* 排序 */
	.sortable {
		cursor: pointer;
		cursor: hand;
	}
	.sortable:hover {
		border-bottom: 2px solid #093;
	}
	.sort-disabled {
		opacity: 0.3;
	}
	
	/* 操作表格 */
	.operate-table td {
		curosr: hand;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	
	/* 书写代码样式 */
	.CodeMirror pre, .CodeMirror-linenumber {
		font-size: 16px;
		line-height: 20px;
	}
	//分页样式
	.pagin {
		box-shadow: none;
		border: 1px solid #ddd;
	}
	//整体布局
	html, body {
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin: 0;
	}
	html {
		_height: auto;
		_padding: 100px 0 50px;
	}
	.g-hd, .g-sd, .g-mn {
		position: absolute;
		left: 0;
	}
	.g-hd {
		width: 100%;
	}
	.g-sd, .g-mn {
		z-index: 100;
		top: 90px;
		bottom: 0;
		_height: 100%;
		overflow: auto;
	}
	.g-hd {
		top: 40px;
		height: 50px;
		line-height: 50px;
		padding: 0px;
	}
	.g-sd {
		width: 200px;
		background: white;
	}
	.g-mn {
		_position: relative;
		padding: 20px;
		left: 200px;
		right: 0;
		_top: 0;
		_left: 0;
		_margin-left: 300px;
		background: white;
		border-left: 1px solid #ddd;
	}
}