#yuqing {
	.title {
		background: whitesmoke;
		line-height: 50px;
		padding: 0 20px;
		font-size: 18px;
		font-weight: bold;
		position: relative;
		.right-bar {
			position: absolute;
			right: 20px;
			top: 0;
		}
	}
	.charts {
		width: 100%;
		height: 400px;
		padding: 20px;
	}
	.charts-small {
		width: 100%;
		height: 300px;
		padding: 10px;
	}
	.china {
		width: 100%;
		height: 600px;
		padding: 10px;
	}
}