#game-list-doc {
	.g-hd, .g-sd, .g-mn, .g-ft {
		position: absolute;
		left: 0;
	}
	.g-hd, .g-ft {
		width: 100%;
	}
	.g-sd, .g-mn {
		top: 122px;
		bottom: 30px;
		_height: 100%;
		overflow: auto;
	}
	.g-hd {
		top: 0;
		height: 100px;
	}
	.g-sd {
		width: 300px;
	}
	.g-mn {
		_position: relative;
		left: 300px;
		right: 0;
		_top: 0;
		_left: 0;
		_margin-left: 300px;
	}
	.paper {
		background: white;
		padding: 20px;
		border-bottom: 1px solid #ddd;
	}
	.menu {
		background: #f8f8f8;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		.treeview, .treeul {
			list-style: none;
			padding-left: 15px;
		}
		#tree {
			list-style: none;
			padding-left: 0;
			ul {
				list-style: none;
				padding-left: 0;
			}
			li {
				padding-left: 15px;
			}
			color: #666;
			font-size: 15px;
			.folder, .file {
				padding: 5px 10px 5px 15px;
				display: block;
				&:hover {
					cursor: hand;
					cursor: pointer;
				}
			}
			.folder {
				white-space: nowrap;
				&:hover, &.active {
					color: #333;
				}
				.folder-bar {
					position: absolute;
					top: 5px;
					left: 0;
				}
			}
			.file {
				padding-left: 15px;
				white-space: nowrap;
				&:hover, &.active {
					padding-left: 12px;
					border-left: 3px solid #5CB85C;
					text-decoration: none;
				}
			}
			.dragging {
				background: #ddd;
			}
			.ui-state-highlight {
				background: #D4F6D4;
				height: 30px;
				width: 100%;
				display: block;
			}
		}
		.editContentAlone {
			padding: 0;
		}
		.menu-info {
			color: #999;
			margin-top: 10px;
			margin-left: 30px;
			font-size: 16px;
		}
		// 新增组件
		.add {
			margin-left: 30px;
			margin-top: 5px;
		}
	}
}